<!-- Include header -->
<%- include('include/_header.ejs')%>
    <!-- /Include header -->
    <div class="app-content">
        <!-- sidebar -->
        <div class="app-sidebar">
            <a href="/" class="app-sidebar-link">
                <i class="fas fa-home"></i>
            </a>
            <a href="/user-form" class="app-sidebar-link">
                <i class="fas fa-user"></i>
            </a>
            <a href="/tictactoe" class="app-sidebar-link active">
                <i class="fas fa-gamepad"></i>
            </a>
        </div>
        <!-- /sidebar -->

        <!-- Main project -->
        <div class="projects-section">
            <div class="projects-section-header">
                <p>Tic Tac Toe</p>
                <p>Use Node.js</p>
                <p class="time"></p>
            </div>

            <!-- /Main project -->
            <div class="container">
                <h1 class="text-light">
                    Select Character
                </h1>
                <div class="profile">
                    <div class="img">
                        <img src="img/f1.png" class="id" data-id="x" alt="">
                        <img src="img/m1.png" class="id" data-id="y" alt="">
                    </div>
                    <div class="img">
                        <img src="img/f2.png" class="id" data-id="x2" alt="">
                        <img src="img/m2.png" class="id" data-id="y2" alt="">
                    </div>
                </div>
                <button class="primary-btn" id="startBtn">Start Game</button>
            </div>
            <!-- Include footer -->
            <%- include('include/_footer.ejs')%>
                <!-- /Include footer -->