<!-- Include header -->
<%- include('include/_header.ejs')%>
    <!-- /Include header -->
    <!-- sidebar -->
    <div class="app-content">
        <div class="app-sidebar">
            <a href="/" class="app-sidebar-link">
                <i class="fas fa-home"></i>
            </a>
            <a href="/user-form" class="app-sidebar-link active">
                <i class="fas fa-user"></i>
            </a>
        </div>
        <!-- /sidebar -->
        <div class="projects-section">
            <div class="projects-section-header">
                <p>User Form</p>
                <p class="time"></p>
            </div>
            <div class="box-nav d-flex justify-between">
                <a href="/user-add">
                    <span class="new-user">New User<i class="fas fa-user"></i></span>
                </a>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_user_show.ejs')%>
                    </tbody>
                </table>
            </form>


            <!-- Include footder -->
            <%- include('include/_footer.ejs')%>
                <!-- /Include footder -->